.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env

output/
voices/*
!voices/README.md
*.wav
*.mp3

datasets/

.DS_Store
pip-wheel-metadata/
*.egg-info/
checkpoints/*
265c6cef07625665d0c28d2faafb1415562379dc/semantic_codec/model.safetensors
